<p>edit</p>
<div>
    <span>
        <div class="border border-info fitToContent rounded">
            <ul style="list-style-type:none;">
                <li><div><button>start</button></div></li>
                <li><div><div><p>04:00</p></div></div></li>
                <li *ngFor="let machine of machineArrOfobj"><button>{{machine}}</button></li>
                <li><div><p>Assembly Line no {{AssemblyLineName}}</p></div></li>
                
            </ul>
            
        </div>
    </span>
    <div>
        <!-- Button trigger modal -->
        <div><button class="btn btn-primary" data-toggle="modal" data-target="#FindMachineModal">Add Machine</button></div>
        <div><button class="btn btn-primary" >Save</button></div>
    </div>
  
  <!-- Modal -->
  <div class="modal fade" id="FindMachineModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Available Machines</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <select class="mdb-select md-form colorful-select dropdown-primary" searchable="Search here..">
                <option value="1" disabled selected>Search Machine</option>
                <!-- <span *ngFor="let machine of machineArray" ><option  *ngIf="(machine.Active==='no')" value="machine.MachineName"> {{machine.MachineName}}</option></span>  -->
               <option *ngFor="let machine of filterInactiveMachines('no')"  value="machine.MachineName"> {{machine.MachineName}}</option> 
              </select>
              
              <select class="mdb-select md-form" searchable="Search here..">
                <option value="" disabled selected>Choose your country</option>
                <option value="1">USA</option>
                <option value="2">Germany</option>
                <option value="3">France</option>
                <option value="3">Poland</option>
                <option value="3">Japan</option>
              </select>

              
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</div>