

<div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <button type="button" (click)="createNewAssemblyLine(MachineArray)" onclick class="btn btn-outline-info"   >Create New Assembly Line</button>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
        <router-outlet ></router-outlet>
        </div>
      </div>
</div>
<!-- 
<select class="skills_select2" required name="test_skill" id="test_skill">   
  <option></option>
  <option value="1">TEST1</option>
  <option value="2">TEST2</option>
  <option value="3">TEST3</option>            
</select> -->


